/******************************************** GENERAL *******************************************/
body {
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color: #f8f9fa;
    text-align: left; /* Cambiado a izquierda */
}

h2 {
    color: #FFD700;
}

* {
    box-sizing: border-box;
}

/******************************************* HEADER **********************************************/

.header .logo {
    width: 60px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
}

/************************************************ LINKS NAVEGADOR ********************************/
.nav-link {
    color: #FFFFFF !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #FFD700 !important;
}


/******************************************* BOTONES ********************************************/
.btn-dark:hover {
    transform: scale(1.1);
    background-color: #FFD700;
    color: #000000;
}

/******************************************* Section Sobre Nosotros **********************************************/
.sobre-nosotros {
    position: relative;
    background-image: url('../img/home/fondo.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 60px;
    border-radius: 8px;
    overflow: hidden;
}

.sobre-nosotros::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.sobre-nosotros .text-content {
    position: relative;
    z-index: 2;
    color: #fff;
}


/******************************************* CARDS *********************************************/
.card {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border: 3px solid rgba(255, 217, 0, 0.42); 
    border-radius: 8px;
    overflow: hidden;
    position: relative; 
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 10px 5px 5px #fadd3b9a;
}

.borde-yellow {
    border-color: rgba(255, 217, 0, 0.42); 
}

.borde-yellow:hover {
    border-color: #FFD700; 
}


/**************************************** ICONOS **********************************************/
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    font-size: 1.5rem;
    color: black;
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.social-icon:hover {
    color: #FFD700;
    transform: scale(1.1) !important;
}

.icon-white {
    color: #f9f9f9;
}

.icon-white:hover {
    transform: scale(1.5) !important;
}

/*************************************** TESTIMONIOS INDEX ************************************+*/
.testimonial-card {
    overflow: visible;
    background-color: #f9f9f9;
    border-left: 5px solid #FFD700;
    color: #4D4D4D;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    padding: 20px;
    margin: 15px 0;
    border-radius: 5px;
}

.testimonial-card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4) !important;
}

blockquote {
    font-size: 1.1rem;
    position: relative;
    margin-bottom: 0;
    padding-left: 20px;
}

blockquote::before {
    content: "“";
    font-size: 3rem;
    position: absolute;
    top: -10px;
    left: 5px;
    color: #FFD700;
}

blockquote::after {
    content: "”";
    font-size: 3rem;
    position: absolute;
    bottom: -10px;
    right: 5px;
    color: #FFD700;
}

.blockquote-footer {
    font-style: italic;
    background-color: #f8f9fa;
    color: #FFD700;
    margin-top: 1rem;
}

/****************************************** FOOTER *********************************************/
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative; /* Keeps footer stable */
    z-index: 1; /* Ensures it stays above the card hover effects */
}

/***************************** BLOQUE HORARIO/DIRECCIÓN CONTACTO *******************************/
.info-box {
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    color: #333;
}

.info-box h4 {
    color: #FFD700;
    margin-bottom: 10px;
}

.info-box p {
    margin: 0;
}


/************************ BORDE DE LOS CAMPOS FORMULARIO CONTACTO ************************************/
.form-control:focus {
    border-color: #FFD700;
    box-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
    outline: none;
}
/********************** MENSAJE RESPUESTA FORMULARIO *************************/
#successMessage {
    display: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
}

.alert-success {
    background-color: #FFD700;
    border: 1px solid white;
    color: white;
}
